@media screen and (max-width:750px){
  .down{
    display: none;
  }
  .mylogo{
    display: none;
  }
 #link:hover{
   display:none;
 }
 #link a::before, ::after{
   display: none;
 }
 #link a:hover::after,::before{
   display: none;
 }
 #link a:hover::before{
   display: none;
 }
}
