@media screen and (max-width:820px){
  #home{
    height: 150vh !important;
    overflow-y: auto !important
  }

  .main-wrapper{
    padding: 50px 0px !important
  }

  .homepage{
    left: 450px !important
  }

  .logo, .icon{
    left: 30px !important;
  }

  .logo img{
    width: 150px !important
  }

  .icon img{
    width: 70px !important
  }


  .toggle{
    right: 2px !important;
    top: 90px !important;
    width: 50px !important;
  }
  .home{
    left: 40px !important;
    width: 800px !important;
    justify-content: flex-start !important;
    padding-left: 30px !important;
  }

  .home h1{
    font-size: 40px !important
  }

  #call-to-action{
    left: 100px !important;
    margin-top: 50px !important;
  }

  .copyright{
    padding: 0 0px !important
  }

  .copy{
    padding: 0 0px !important
  }

  #one.slideup{
    bottom: 450px !important

  }

  #two.slideup{
      bottom: 120px !important
  }


  #three.slideup{
      bottom: 140px !important
  }


}
